<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id = "connProvider" class = "di04.ConnectionProvider"/>
	<!-- 의존성 주입방법 : setter, 생성자  -->
	<bean id = "studentDao" class = "di04.StudentDao">
		<property name="connectionProvider" ref="connProvider"></property>
	</bean>
<!-- 	<bean id = "studentDao" class = "di04.StudentDao"> -->
<!-- 		<constructor-arg ref="connProvider"></constructor-arg> -->
<!-- 	</bean> -->
</beans>
